<!DOCTYPE html>
<html lang ="en">
<head>
	<meta charset ="UTF-8">
	<title> <% @title %></title>
	
	<meta title="og:title" content="Bitmaker Labs // HTML CSS intro">




<link rel ="stylesheet" href = "/style.css">

</head>
<body>
	<header>
	 	<p> CRM application &copy;2015 </p>
	</header>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/contacts">Contact</a></li>
    <li><a href="/contacts/new">Add Contact</a></li>
  </ul>
</nav>

	<%= yield %>

	<footer>
		<p>Bitmaker Labs &copy;2015 </p>
	</footer>

</body>
</html>