
 	* {
 		box-sizing: border-box;
 	}
	
	p {
		color: red;
		color: blue;
	}
 
	.highlighted {
		background-color: yellow;
	}

	h1{
		margin: 40px;
		border: 50px;
		padding: 50px;
		width: auto;
	}

	#page-title {
		background-color: purple;
	}

